@import 'colors.scss';


/** Global **************************/
*{
	all: unset;
	font-family: "HackNerdFont";
    font-weight: bold;
    font-size: 16;
    color: $text;
}

.dockbox {
    // background-color: $primary;
    margin-left: 10px;
    margin-right: 10px;

    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;


}

.workspcae_active {
    // background-color: $primary;
    border: 4px solid $accent;
    color: $text;
    border-radius: 18px;

    padding-left: 14px;
    padding-right: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.workspcae_inactive {
    // background-color: $primary;
    border-radius: 18px;
    // border: 4px solid $primary;

    padding-left: 14px;
    padding-right: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.date_box {
	// background-color: $primary;
    color: $secondary;
    border-radius: 18px;

    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.battery {
	// background-color: $primary;
    color: $secondary;
    border-radius: 18px;

    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.volume {
	// background-color: $primary;
    color: $secondary;
    border-radius: 18px;

    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}
